.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.mt {
  margin-top: 50px;
}
.mb {
  margin-bottom: 50px;
}
.border-item {
  border: solid grey 2px;
  width: 300px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  margin-top: 0;
}
button {
  cursor: pointer;
  border-radius: 5px;
  border: none;
}

.btn-delete {
  background-color: #dc3545;
  color: white;
  width: 75px;
  height: 25px;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
  border: 1px solid #dc3545 !important;
  font-size: 18px;
}
.btn-delete:hover {
  background-color: #fff;
  color: #dc3545;
  transition-duration: 0.4s;
}
.btn-edit {
  height: 25px;
  width: 50px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  color: #fff;

  background-color: rgb(209, 223, 24);
}
.btn-add {
  background-color: #28a745;
  font-size: 18px;
  width: 75px;
  color: aliceblue;
  margin-right: auto;
  margin-left: auto;
}
body {
  background-color: black;
  color: white;
  font-size: 24px;
}
label {
  display: block;
}
.hello {
  text-shadow: 0 0 15px blue;
}
